Screen{
    align: center middle;
    width: 100%;
}

.main_container{
    align: center middle;

    width: 55vw;
    height: 95%;
      
}
.mini_container{ 
    align: center middle;
    height: 20vh;
 
    
}

.description_container{ 
    align: center middle;
    height: 20vh;
 
    
}

.button_container{
    align: center middle;
    height: 20vh;
 
        
}

Input{
    border: $primary;  
}

#value{
    height: 4;
    width: 40%;
}
#description{
    height: 4;
    width: 86%;
}

Input.-valid{
    border: $success 60%;
    
}
Input.-valid:focus {
    border: $success;
}

RadioSet {
    align: center middle;
    border: $primary;
    width: 35%;
    margin: 0 0 0 5;
}

Button{
    content-align: center middle;
    border: $primary;
    width: 40%;
    height: 40%;
    background: $primary;
    margin: 0 1;

}