Screen{
    width: 100%;
    height: 100%;
    
}

.main_container{
    align: center middle;
      
}
.mini_container{ 
    align: center middle;
    height: 20vh;
    width: 55vw;
}

.description_container{ 
    align: center middle;
    height: 20vh;
    width: 55vw;
    
}

.button_container{
    align: center middle;
    height: 18vh;
    width: 55vw;
}

Input{
    border: $primary;  
    
}

#value{
    height: 4;
    width: 40%;
}
#description{
    height: 4;
    width: 86%;
}

Input.-valid{
    border: $success 60%;
    
}
Input.-valid:focus {
    border: $success;
}

RadioSet {
    align: center middle;
    border: $primary;
    width: 35%;
    margin: 0 0 0 5;
}

Button{
    content-align-vertical: middle;
    border: $primary;
    width: 40%;
    height: 35%;
    background: $primary;
    margin: 0 1;

}